#back-to-top {
  cursor: pointer;
  width: 40px;
  height: 40px;
  overflow: hidden;
  border: 1px solid #ddd;
  background-color: #48cae4;
  border-radius: 3px;
  position: fixed;
  right: 10px;
  bottom: 50px;
  z-index: 900;
}
