.btn {
  border-style: none;
  color: #fff;
  background-color: #2d6180;
  padding: 0 20px;
}

.header {
  width: 100%;
  height: 3rem;
  padding: 0 20px;
  background-color: #2d6180;
  color: #fff;
}

.header .header__container {
  display: flex;
  height: 100%;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
}

.header .header__container .header--logo {
  align-items: center;
  line-height: 0.95;
}
.header .header__container .header--logo span {
  font-size: 18px;
}

.nav {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #2d6180;
  display: none;
}

.header--logo {
  display: inline;
  padding-left: 16px;
}

.nav.show {
  column-gap: 1.6rem;
  display: grid;
  grid-auto-flow: row dense;
  grid-template-columns: 1fr;
  height: 100%;
  font-size: 1.6rem;
}

.nav.show .btn--search {
  display: none;
}

.btn--menu {
  position: absolute;
  z-index: 10;
  right: 8px;
  top: 12px;
}

@media screen and (min-width: 768px) {
  .header .header__container .nav,
  .header__box,
  .header__nav {
    height: 48px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    font-size: 14px;
  }

  .header .header__container .btn--menu,
  .btn--close {
    display: none;
  }

  .btn--search {
    display: inline;
  }
}
