.icons {
  width: 24px;
  height: 24px;
}

.footer {
  text-align: center;
  flex-shrink: 0;
  color: #fff;
  background-color: #2c3f4f;
}

/* footer nav */

.footer__nav {
  display: block;
  margin-top: 12px;
}

.footer__nav-left ul {
  display: block;
}

/* footer contact links */
.footer__contact-links {
  width: 100%;
  padding: 0 16px;
  text-align: center;
  position: relative;
}

.footer__social {
  display: flex;
  justify-content: center;
  margin-top: 18px;
}

/* footer bottom */
.footer__bottom {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 32px;
}

.footer__logo {
  margin-top: 32px;
}

.footer__logo > p {
  margin: 12px 0;
}

.footer__copyright li {
  display: inline-block;
}

.footer__copyright li a {
  font-size: 12px;
  color: #fff;
  display: block;
  padding: 8px 16px;
}

@media screen and (min-width: 768px) {
  .footer__nav {
    display: flex;
    text-align: center;
    margin-top: 12px;
  }

  .footer__nav-left {
    flex: 1 1 4rem;
    border-right: 1px solid #fff;
  }

  .footer__nav-right {
    flex: 2 2 3rem;
  }

  .footer__contact-links::before {
    width: 33%;
    right: 0;
    position: absolute;
    content: '';
    border-top: 1px solid #7c98b6;
    top: 50%;
  }

  .footer__contact-links::after {
    left: 0;
    width: 33%;
    position: absolute;
    content: '';
    border-top: 1px solid #7c98b6;
    top: 50%;
  }
}
