.trending {
  padding: 16px;
}

.trending h3 {
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 20px;
}

.card__container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  justify-items: center;
}

.card {
  width: 100%;
  max-height: 320px;
  border-radius: 4px;
  background: #d4dfe6;
}

.card__info {
  display: flex;
  flex-direction: column;
  padding: 24px 32px;
  align-items: flex-start;
  height: 100%;
}

.card__info a {
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
}

.card__info a span {
  font-weight: 600;
}

.card__info .card__info--title {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  margin-top: 20px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  max-height: 48px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card__info .card__info--status {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  margin-top: 2px;
  color: rgba(0, 0, 0, 0.5);
}

@media screen and (min-width: 768px) {
  .card__container {
    grid-template-columns: repeat(3, 1fr);
  }
}
